
npm
node_modules
ksana-corpus-lib
ksanalibindex.js
package-lock.json
desktop.ini

*.zip
*.bak
*.db
*.ini
*.htm
*.html
*.jpg
*.png
*.gif
*.lst
*.xml
*.php
*.toc
*.css
*.js.下載

re.txt
sd.txt
缺少的1.txt
html註釋轉≦註.txt
